* {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
    z-index: 0;
    font-family:"FS Sinclair";
    color:white;
}

body {
    background-image: url("images/bg.webp");
    background-size: 100%;
    background-attachment: fixed;
}

@media (min-width: 1000px) {

.header {
    background: linear-gradient(to right, #16191f50, #121a24e0, #121a24e0, #16191f50);
    padding: 30px 0px;
    border-bottom: 3px solid #eee000;
}
.header img {
    width: 500px;
    margin: auto;
    display: block;
}

button {
    padding: 5px;
    font-size: larger;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 5%;
}

.contentcontainer {
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 90%;
    background-color: #0c0c0ce0;
}

.dropdown_custom {
    height:60px;
    width: 100%;
    margin: 0;
    overflow: visible;
    position: absolute;
    z-index: 0;
}

.dropdown_custom_head {
    display: inline-block;
    position: fixed;
    z-index: 1;
    background-color: #2d2e30;
    width: 44%;
    padding: 0;
    height: 100%;
    max-height: 100%;
    vertical-align: top;
    align-content: center;
    border-right: 2px solid #998766;
}
.dropdown_custom_head h3 {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown_custom_list {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    flex-direction: column;
    float:left;
    margin-left: -7px;
    background-color: #2d2e30;
    width: 100%;
    height: max-content;
    border: 5px solid #708090;
    border-top: 2px solid #708090;
}

.dropdown_custom_item {
    display: flex;
    float: right;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 5px;
    color: white;
    font-weight:400;
    background: #555020;

}
.dropdown_custom_item:hover h4 {
    color: yellow;
    font-weight:500;
}

.dropdown_custom_list .dropdown_custom_item {
    width: var(100% - 5px);
    height: 40px;
    border-top: 1px solid #96958fa0;
}

.dropdown_custom_item h4 {
    display: flex;
    float: left;
    flex-grow: 1;
    height: 100%;
    max-width:inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.dropdown_custom_list .dropdown_custom_item h4 {
    font-size: 20px;

}
.dropdown_custom_item img {
    display: flex;
    align-items: center;
    float: right;
    width: 80px;
    height: 40px;
    margin-right: 10px;
}
}
@media (max-width: 500px) {
    
.header {
    background: linear-gradient(to right, #16191f50, #121a24e0, #121a24e0, #16191f50);
    padding: 30px 0px;
    border-bottom: 3px solid #eee000;
}
.header img {
    width: 325px;
    margin: auto;
    display: block;
}

button {
    padding: 5px;
    font-size: larger;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 5%;
}

.contentcontainer {
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 300px;
    background-color: #0c0c0cc0;
}

#contents a {
    display: block;
    align-content: vertical;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: solid 1px #eee000a0;
    background-color: #353010d0;
}

.dropdown_custom {
    overflow: hidden;
    position: relative;
    height: 90px;
    width: 100%;
    margin: 0;
}

.dropdown_custom_head {
    display: inline-block;
    background-color: #30406055;
    width: 100%;
    padding: 0;
    height: 40px;
    vertical-align: top;
    align-content: center;
    border-bottom: 1px solid #88804444;
    border-top: 2px solid #99993366;
}
.dropdown_custom_head h3 {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dropdown_custom_select {
    display: inline-block;
    background-color: #20254088;
    width: 270px;
    height: 40px;
    padding: 5px;
}

.dropdown_custom_list {
    flex-direction: column;
    z-index: 0;
    margin-left: -5px;
    background-color: #2d2e30;
    width: 100%;
    border: 5px solid #708090;
    border-top: 2px solid #708090;
}

.dropdown_custom_item {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-weight:400;
    background: none;

}
.dropdown_custom_item:hover h4 {
    color: yellow;
    font-weight:500;
}

.dropdown_custom_list .dropdown_custom_item {
    height: 41px;
    padding: 0 5px;
    border-top: 1px solid #96958f90;
}

.dropdown_custom_item h4 {
    display: flex;
    float: left;
    flex-grow: 1;
    height: 100%;
    max-width:inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.dropdown_custom_list .dropdown_custom_item h4 {
    font-size: 13px;
}
.dropdown_custom_item img {
    display: flex;
    align-items: center;
    float: right;
    height: 40px;
    width: 80px;
}
}