* {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background-image: url("images/bg.webp");
    background-size: 100%;
}

.header {
    background: linear-gradient(to right, #16191f50, #121a24e0, #121a24e0, #16191f50);
    padding: 30px 0px;
    border-bottom: 3px solid #eee000;
}
.header img {
    width: 500px;
    margin: auto;
    display: block;
    
}

button {
    padding: 5px;
    font-size: larger;
}