drop-down {
    --height: 50px;
    --optheight: calc(var(--height) * 0.8);
    --fontsize: 0.8;
    height: var(--height);
    overflow: visible;
    position: relative;
    min-width: var(--height);
    height: var(--height);

    .selected {
        pointer-events: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;

        * {
            display: flex;
            height: var(--height);
                font-size: calc(var(--height) * var(--fontsize));
        }
    }

    .options {
        position: absolute;
        width: max-content;
        height: max-content;
        top: var(--height);
        
        drop-option {
            position: relative;
            display: flex;
            flex-direction: row;
            height: var(--optheight);
            width: max-content;

            * {
                display: flex;
                position: relative;
                height: auto;
                font-size: calc(var(--optheight) * var(--fontsize));
                align-items: center;
            }
        }
    }
}