drop-down {
    --height: 50px;
    --optheight: calc(var(--height) * 0.8);
    --fontsize: 0.8;
    height: var(--height);
    overflow: visible;
    position: relative;
    min-width: var(--height);
    height: var(--height);

    .selected {
        pointer-events: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        font-size: calc(var(--optheight) * var(--fontsize));

        * {
            display: flex;
            height: var(--height);
        }
    }

    .options {
        display: none;
        position: absolute;
        width: 100%;
        height: max-content;
        top: var(--height);
        
        option {
            position: relative;
            display: flex;
            flex-direction: row;
            height: var(--optheight);
            font-size: calc(var(--optheight) * 0.8);

            * {
                display: flex;
                height: var(--height);
                font-size: calc(var(--optheight) * var(--fontsize));
            }
        }
    }
}