drop-down {
    height: var(--height);
    display: block;
    overflow: visible;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    min-width: var(--height);
    height: var(--height);
    font-size: calc(var(--height) * 0.8);
    * {
        display: flex;
        height: var(--height);

        font-size: calc(var(--height) * var(--fontsize));
    }

    
}

.dropdown_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;

    div {
        flex-direction: column;
        position: absolute;
        display: none;
        z-index: 10;
        width: 100%;
        height: max-content;
        pointer-events: all;
        top: var(--height);
        
        
        option {
            height: var(--optheight);
            position: relative;
            display: flex;
            width: fit-content;
            font-size: calc(var(--optheight) * 0.8);

            * {
                display: flex;
                height: var(--height);
                font-size: calc(var(--optheight) * var(--fontsize));
            }
        }
    }
}