@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Medium Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "FS Sinclair";
    src: url("fonts/FS Sinclair/FS Sinclair Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 0;
    font-family:"FS Sinclair";
    color:white;
}
body {
    background-image: url("images/bg.webp");
    background-size: 100%;
    background-attachment: fixed;
    * {
        position: relative;
        display: block;
    }
}

script, style {
    display: none;
}

@media (min-width: 800px) {

    .header {
        background: linear-gradient(to right, #16191f50, #121a24e0, #121a24e0, #16191f50);
        padding: 30px 0px;
        border-bottom: 3px solid #eee000;
    }
    .header img {
        width: 500px;
        margin: auto;
        display: block;
    }

    button {
        padding: 5px;
        font-size: larger;
    }

    .content {
        justify-content: space-between;
        margin: 20px 5%;
    }

    .contentcontainer {
        box-sizing: border-box;
        align-items: center;
        margin: auto;
        padding: 20px;
        background-color: #0c0c0ce0;
    }
    #contents a {
        display: block;
        align-content: vertical;
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 10px 0;
        border: solid 1px #eee000a0;
        background-color: #353010d0;
    }



    .dropdown_custom {
        --select_height: 50px;
        height: var(--select_height);
        width: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;
        z-index: 0;
        background-color: #c9c9c9e0;

    }

    .dropdown_custom_head {
        display: inline-block;
        position: absolute;
        background-color: #2d2e30;
        width: 48%;
        padding: 0;
        left: 0;
        height: 100%;
        max-height: 100%;
        vertical-align: top;
        align-content: center;
        border-top: 1px solid #99993366;

        h3 {
            display: flex;
            font-weight: 500;
            font-size: 30px;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }
    }
    .dropdown_custom_select {
        display: inline-block;
        position: absolute;
        background-color: #20254088;
        width: 52%;
        height: 100%;
        right: 0;
    }

    .dropdown_custom_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--select_height)+1px);
        width: 100%;
        margin: 0;
        padding: 0;
        background: #273642;
        border-top: 1px solid #99993366;
        
        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: 100%;
            color: white;
            font-size: calc(var(--select_height)/2);
            font-weight: 400;
        }
        img {
            min-width: var(--select_height);
            height: var(--select_height);
            display: block;
            object-fit: cover;
            align-items: center;
            float: right;
        }
    }

    .dropdown_custom_list {
        --item-height: calc(var(--select_height)*0.8);
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -5px;
        background-color: #2d2e30;
        width: 52%;
        height: max-content;
        border: 5px solid #708090;
        border-top: 2px solid #708090;
        
        .dropdown_custom_item {
            position: relative;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(var(--item-height)+1);
            border-top: 1px solid #96958fa0;
            padding: 0;

            h4 {
                font-size: calc(var(--item-height)/2);
                color: white;
                font-weight: 400;
                height: 100%;
            }
            img {
                min-width: var(--item-height);
                height: var(--item-height);
                display: block;
                object-fit: cover;
            }
        }
    }
    
    .dropdown_custom_item:hover h4 {
        color: yellow;
        font-weight:500;
    }

    .confirm {
        margin: 10px auto;
        width: 300px;
        height: 50px;
        background-color: black;
        color: #ed0;
        display: block;
        align-content: center;
        font-size: 25px;
        font-weight: 800;
    }
    .confirm:hover {
        color: black;
        background-color: #ed0;
    }
}
@media (max-width: 800px) {
    
.header {
    background: linear-gradient(to right, #16191f50, #121a24e0, #121a24e0, #16191f50);
    padding: 30px 0px;
    border-bottom: 3px solid #eee000;
}
.header img {
    width: 325px;
    margin: auto;
    display: block;
}

button {
    padding: 5px;
    font-size: larger;
}

.content {
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    gap: 20px;
    margin: 20px 5%;
}

.contentcontainer {
    box-sizing: border-box;
    position: relative;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 300px;
    background-color: #0c0c0cc0;
}

#contents a {
    display: block;
    align-content: vertical;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: solid 1px #eee000a0;
    background-color: #353010d0;
}

.dropdown_custom {
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 100%;
    margin: 0;
}

.dropdown_custom_head {
    display: inline-block;
    background-color: #30406055;
    width: 100%;
    padding: 0;
    height: 30px;
    vertical-align: top;
    align-content: center;
    border-bottom: 1px solid #88804444;
    border-top: 2px solid #99993366;
}
.dropdown_custom_head h3 {
    display: flex;
    font-weight: 500;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dropdown_custom_select {
    display: inline-block;
    background-color: #20254088;
    width: 100%;
    height: 40px;
}

.dropdown_custom_list {
    flex-direction: column;
    z-index: 0;
    margin-left: -5px;
    background-color: #2d2e30;
    width: 100%;
    border: 5px solid #708090;
    border-top: 2px solid #708090;
}

.dropdown_custom_item {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
}
.dropdown_custom_item h4 {
    display: flex;
    float: left;
    flex-grow: 1;
    height: 100%;
    max-width:inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.dropdown_custom_item img {
    display: flex;
    align-items: center ;
    float: right;
    height: 100%;
    width: 80px;
}

.dropdown_custom_item:hover h4 {
    color: yellow;
    font-weight:500;
}

.dropdown_custom_list .dropdown_custom_item {
    position: relative;
    height: 31px;
    border-top: 1px solid #96958f90;
}
.dropdown_custom_list .dropdown_custom_item h4 {
    font-size: 13px;
}
.dropdown_custom_list .dropdown_custom_item img {
    width: 60px;
}
#stratagem1 .dropdown_custom_select * img, #stratagem2 .dropdown_custom_select * img, #stratagem3 .dropdown_custom_select * img, #stratagem4 .dropdown_custom_select * img {
    width: 40px;
}
#stratagem1 .dropdown_custom_list * img, #stratagem2 .dropdown_custom_list * img, #stratagem3 .dropdown_custom_list * img, #stratagem4 .dropdown_custom_list * img {
    width: 30px;
}


.confirm {
    margin: 10px auto;
    width: 300px;
    height: 50px;
    background-color: black;
    color: #ed0;
    display: block;
    align-content: center;
    font-size: 25px;
    font-weight: 800;
}
.confirm:hover {
    color: black;
    background-color: #ed0;
}

}